{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ applicationName }}</h1>
    <p class="govuk-body"><a href="/user/create" class="govuk-link govuk-link--no-visited-state">Create a User</a></p>
  </main>

{% endblock %}