{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <main class="app-container govuk-body">
    <h1 class="govuk-heading-l">{{ applicationName }}</h1>
  </main>

{% endblock %}